{% extends 'base.html.twig' %}

{% block title %}Skull - Account{% endblock %}

{% block content %}

<p> Bienvenue {{app.user.prenom}} dans votre compte.</p>

<a class="nav-link" href="{{path("modify")}}">Modifier mes informations</a>

<pre>
    {{ dump(app.user) }}
</pre>


{% endblock %}
