{% extends 'base.html.twig' %}



        

        {% block content %}
        <a class="nav-link retourInfo" href="{{path("account")}}">Retour a mon compte</a>
        <div class="formModify container px-4 px-lg-5 my-5">{{form(form)}}
        

        

{% endblock %}



